<!DOCTYPE html>
<html>
   <head>
      <title>E-Library</title>
      <link rel="stylesheet" type="text/css" href="css/home.css" />
	  <link rel="stylesheet" type="text/css" href="css/book.css" />
   </head>

   <script src="js/sweetalert2.all.min.js"></script>
   <script src="js/sweetalert2.all.min.js"></script>
   <script src="js/vue.global.js"></script>
   <script src="js/elib.books.pages.js"></script>

   <script type="text/x-template" id="item-template">
	<li div>
	  <div
		   :class="getStyleClass()"
		   @click="toggle"
		   @dblclick="toggle"
		   @mouseover="hover = true"
		   @mouseleave="hover = false">
			{{ item.name }}
	  </div>
	  <ul v-show="isOpen" v-if="isFolder">
		<tree-item
		   class="item"
		   v-for="(child, index) in item.children"
		   :key="index"
		   :item="child">
		</tree-item>
	  </ul>
	</li>
  </script>

	<script>
	   function openNav() {
	     document.getElementById("mySidenav").style.width = "250px";
	     document.getElementById("topBar").style.paddingLeft = "250px";
	     document.getElementById("book-list").style.paddingLeft = "250px";
	   }
	
	   function closeNav() {
	     document.getElementById("mySidenav").style.width = "0";
	     document.getElementById("topBar").style.paddingLeft = "0";
	     document.getElementById("book-list").style.paddingLeft = "10px";
	   }
	   
	   function logOut(){
		   Swal.fire({
			   text: 'Logout from the library?',
			   showCancelButton: true,
			   confirmButtonText: 'Yes',
			   cancelButtonText: 'No'
			 }).then((result) => {
			   if (result.isConfirmed) {
				   window.location.href = "logout"
			   } else if (result.dismiss === Swal.DismissReason.cancel) {
				   // do nothing
			   }
			 })
	   }
   </script>
   <body>
	   	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			<div id="book-navigator">
				<ul>
					<tree-item
					class="item"
					:item="sectionsTree"
					></tree-item>
				</ul>
			</div>
	 	</div>

		<div id="topBar" class="topbar">
		  <a id="showMenu" href="#menu" onclick="openNav()">Menu</a>
		  <a class="active" href="#home">Home</a>
		  <a href="#news">News</a>
		  <a href="admin/stats.xhtml">Admin</a>
		  <a href="#" onclick="logOut()">Logout</a>
		</div>
		<div id="book-list">
			<table v-for="book in bookList.books" class="bookLine">
				<tr>
					<td class="book_name">{{book.name}}</td>
				</tr>
				<tr>
					<td class="book_author">{{book.author}}</td>
				</tr>
				<tr>
					<td>
						UDC:{{book.codeUdc}}&nbsp;&nbsp;
						ISBN:{{book.codeIsbn}}
						&nbsp;&nbsp;
						ISSN:{{book.codeIssn}}
					</td>
				</tr>
				<tr>
					<td>
						<button type="button" class="collapsible">&#10000; Show description</button>
						<div class="book_description">
							{{book.description}}
						</div>
					</td>
				</tr>
			</table>
			<div id=pageNavigator>
			</div>
		</div>
		<script>
			let bookList = {books: []};

			let sectionsTree = {
				name: "Sections", id: 0,
				children: [{ name: "loading...", id: 1 }]
			};

			let currentSectionId = -1;
			let currentPage = 0;

			let updateBookList = function(sectionId){
				let coll = document.getElementsByClassName("collapsible");
				for (i = 0; i < coll.length; i++) {
					if(coll[i].classList.contains("active"))
						coll[i].classList.toggle("active");
					// console.log(coll[i].classList.contains("active"));
					var content = coll[i].nextElementSibling;
					content.style.display = "none";
				}
				app.updateBooks(sectionId, currentPage);
			}

			let rebuildPageList = function(paeNav){
				let pageNav = document.getElementById("pageNavigator");
				pageNav.innerHTML = '';

				const MAX_PAGES = 10;
				const PAGE_WINDOW_MARGIN = 3;
				let pageOverflow = bookList.pagesNumber>MAX_PAGES;

				for(let i=0; i<bookList.pagesNumber; i++){
					let minPage = currentPage-PAGE_WINDOW_MARGIN;
					let maxPage = currentPage+PAGE_WINDOW_MARGIN;
					if((i<minPage || i>maxPage) && i!=0 && i!=bookList.pagesNumber-1)
						continue;

					if(pageOverflow==true && i==bookList.pagesNumber-1 && maxPage<bookList.pagesNumber-2){
						let dummyElem = document.createElement("a");
						dummyElem.textContent = '...';
						pageNav.appendChild(dummyElem);
					}

					let elem = document.createElement("a");
					elem.textContent = ' ' + (i+1) + ' ';
					elem.id = i!=currentPage ? 'page_link' : 'page_link_selected';
					elem.href = "#";
					elem.onclick = function(event){
						currentPage = i;
						updateBookList(currentSectionId);
					};

					pageNav.appendChild(elem);
					if(pageOverflow==true && i==0 && minPage>1){
						let dummyElem = document.createElement("a");
						dummyElem.textContent = '...';
						pageNav.appendChild(dummyElem);
					}
				}
			}

			let updateCollapsibles = function(){
				let coll = document.getElementsByClassName("collapsible");
				for (i = 0; i < coll.length; i++) {
					if(coll[i].hasAttachedListener!=true) {
						coll[i].addEventListener("click", function() {
							this.classList.toggle("active");
							var content = this.nextElementSibling;
							if (content.style.display === "block") {
								content.style.display = "none";
								} else {
								content.style.display = "block";
								}
							});
					}
					coll[i].hasAttachedListener = true;
				}
			}
		</script>
	<script src="js/elib.routes.js"></script>
	<script src="js/elib.book.navigator.js"></script>
	<script src="js/elib.books.list.js"></script>
   </body>
</html>