@charset "windows-1251";

div.login_form {
	text-align: left;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

input {
	margin-bottom: 4px;
	border: 1px solid;
}

#message {
	color: #FF0000;
	font-weight: bold;
	text-align: center;
}

#register {
	float: right;
}